@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* default styles start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    font-family: 'Public Sans', sans-serif;
}

button:focus {
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-weight: 400;
    font-size: 26px;
    color: hsl(233, 26%, 24%);
}

h3,h4,h5,h6 {
    color: hsl(233, 26%, 24%);
    font-weight: 500;
}

p {
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    font-size: 14px;
    margin-top: 1rem;
    line-height: 1.5;
}

.hide {
    display: none;
}

/* default styles end */

body {
    font-family: 'Public Sans', sans-serif;
}

header section:first-of-type {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 1rem;
}

.navHeader {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 9999;
}


.navBar {
    display: none;
    justify-content: center;
    position: fixed;
    top: 4rem;
    background: rgba(0, 0, 0, 0.363);
    height: 100vh;
    width: 100%;
    z-index: 999;
}


.navBar nav {
    width: 80%;
    height: 200px;
    border-radius: 5px;
    background: white;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-weight: 300;
}

.navBar nav ul li a {
    color: hsl(233, 26%, 24%);
}

main section:first-of-type {
    margin-bottom: 4rem;
}

.hero {
    background: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: -4rem;
    background-position-x: 1rem;
    overflow: hidden;
    padding: 0 1rem;
    margin-bottom: -7rem;
    max-width: 100%;
}

.hero img{
    width: 100%;
    position: relative;
    bottom: 8.2rem;
}

main section:first-of-type{
    padding-top: 4.2rem;
}

main section:first-of-type div:last-of-type {
    text-align: center;
    padding: 0 1rem;
    margin-top: 1rem;
}

/* for all buttons on the main and footer section of the page */

main button {
    font-weight: 700;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    margin-top: 1rem;
    padding: 0.6rem 2rem;
    border-radius: 1.5rem;
    color: white;
}

/* end */

main section:nth-child(2) {
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 98%);
    padding: 4rem 1rem;
    gap: 2rem;
}

main section:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:nth-child(2) h2, p {
    text-align: center;
}

main section:nth-child(2) h2 {
    font-size: 20px;
}

main section:nth-child(2) > div img {
    width: 60px;
    margin-bottom: 1rem;
}

main section:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    gap: 2rem;
}

main section:nth-child(3) h2 {
    margin-bottom: 1rem;
    text-align: center;
}

main section:nth-child(3) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:nth-child(3) div > div:first-of-type {
    width: 100%;
    margin-bottom: -3px;
}

main section:nth-child(3) div > div img {
    width:  100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

main section:nth-child(3) div > div:last-of-type {
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    text-align: left;
    background: white;
    box-shadow: 0 5px 15px hsl(0, 0%, 98%);
}

main section:nth-child(3) div div p {
    text-align: left;
    font-size: 13px;
}

footer {
    background:hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}

.socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.socials img {
    width: 25px;
}

footer section:nth-child(2) ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

footer section:nth-child(2) ul li a {
    color: white;
}

footer button {
    font-weight: 700;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    color: white;
}


@media screen and (min-width: 600px) {
    header section:first-of-type {
        display: none;
    }
}