@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* default styles start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    font-family: 'Public Sans', sans-serif;
}

button:focus {
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.hide {
    display: none;
}

/* default styles end */

body {
    font-family: 'Public Sans', sans-serif;
}

header section:first-of-type {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 1rem;
    border-bottom: 1px solid black;
}


.navBar {
    display: none;
    justify-content: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.363);
    height: 90%;
    width: 100%;
    z-index: 999;
}


.navBar nav {
    width: 80%;
    height: 200px;
    border-radius: 5px;
    background: white;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-weight: 300;
}

.hero {
    background: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: -5rem;
    background-position-x: -1rem;
    overflow: hidden;
    padding: 0 1rem;
}

.hero img{
    width: 100%;
    position: relative;
    bottom: 7rem;
}



.attribution {
    display: none;
}

@media screen and (min-width: 600px) {
    header section:first-of-type {
        display: none;
    }
}